# Exploratory Data Analysis

In [1]:
from pathlib import Path
import os

os.chdir(str(Path.cwd().parent))

%load_ext autoreload
%autoreload 1

%aimport src.data_preprocessing.data_loader
%aimport src.utils.setup_utilities

# Own modules
from src.data_preprocessing.data_loader import DataLoader
from src.utils.setup_utilities import load_config, setup_logging

In [2]:
config = load_config()
data_loader = DataLoader(tickers=config['data']['tickers'],
                                          start_date=config['data']['start_date'],
                                          end_date=config['data']['end_date'],
                                          raw_data_path=config['data']['raw_data_path'])
        
stock_data = data_loader.load_data(interval = config['data']['interval'])
stock_data.info()

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 12084 entries, ('MSFT', Timestamp('2013-01-02 00:00:00')) to ('GOOGL', Timestamp('2023-12-29 00:00:00'))
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       12084 non-null  float64
 1   High       12084 non-null  float64
 2   Low        12084 non-null  float64
 3   Close      12084 non-null  float64
 4   Adj Close  12084 non-null  float64
 5   Volume     12084 non-null  int64
dtypes: float64(5), int64(1)
memory usage: 690.1+ KB

In [6]:
#stock_data.reset_index(inplace = True)
stock_data.groupby('Ticker').head()

,Ticker,Date,Open,High,Low,Close,Adj Close,Volume
0,MSFT,2013-01-02,27.250000,27.730000,27.150000,27.620001,22.574524,52899300
1,MSFT,2013-01-03,27.629999,27.650000,27.160000,27.250000,22.272112,48294400
2,MSFT,2013-01-04,27.270000,27.340000,26.730000,26.740000,21.855276,52521100
3,MSFT,2013-01-07,26.770000,26.879999,26.639999,26.690001,21.814405,37110400
4,MSFT,2013-01-08,26.750000,26.790001,26.459999,26.549999,21.699978,44703100
2768,AAPL,2013-01-02,19.779285,19.821428,19.343929,19.608213,16.769091,560518000
2769,AAPL,2013-01-03,19.567142,19.631071,19.321428,19.360714,16.557426,352965200
2770,AAPL,2013-01-04,19.177500,19.236786,18.779642,18.821428,16.096228,594333600
2771,AAPL,2013-01-07,18.642857,18.903570,18.400000,18.710714,16.001539,484156400
2772,AAPL,2013-01-08,18.900356,18.996071,18.616072,18.761070,16.044615,458707200
5536,2222.SR,2019-12-11,26.446280,26.446280,26.446280,26.446280,23.290361,42118334
5537,2222.SR,2019-12-12,29.075882,29.075882,27.047333,27.648384,24.349018,556261883
5538,2222.SR,2019-12-15,27.873779,28.174305,27.648384,28.099173,24.746010,108184209
5539,2222.SR,2019-12-16,28.174305,28.625093,28.174305,28.549961,25.143009,116571298
5540,2222.SR,2019-12-17,28.587528,28.662659,28.174305,28.362133,24.977591,156939470
6548,AMZN,2013-01-02,12.804000,12.905000,12.663000,12.865500,12.865500,65420000
6549,AMZN,2013-01-03,12.863500,13.044000,12.818500,12.924000,12.924000,55018000
6550,AMZN,2013-01-04,12.879000,12.990000,12.832500,12.957500,12.957500,37484000
6551,AMZN,2013-01-07,13.148500,13.486500,13.133500,13.423000,13.423000,98200000
6552,AMZN,2013-01-08,13.353500,13.449000,13.178500,13.319000,13.319000,60214000
9316,GOOGL,2013-01-02,18.003504,18.193193,17.931683,18.099348,18.099348,101550348
9317,GOOGL,2013-01-03,18.141392,18.316566,18.036036,18.109859,18.109859,92635272
9318,GOOGL,2013-01-04,18.251753,18.555305,18.210211,18.467718,18.467718,110429460
9319,GOOGL,2013-01-07,18.404655,18.503002,18.282784,18.387136,18.387136,66161772
9320,GOOGL,2013-01-08,18.406906,18.425926,18.128880,18.350851,18.350851,66976956

In [1]:
import talib